* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#title {
    font-size: 48px;
    font-weight: 700;
    color: #393D3F;
    text-align: center;
    background-color: #C6C5B9;
    margin: auto;
    padding: 3%;
}

#menu {
    font-size: 16px;
    font-weight: 700;
    color: #FDFDFF;
    background-color: #546A7B;
    text-decoration: none;
    padding: 2%;
}


#menuid li {
    display: inline-block;
    width: 250px;
}

#foto {
    border-radius: 50%;
    display: block;
    padding: 20px;
    width: 35%;
    float: left;
    
}

#text {
    color: #393D3F;;
    font-size: 18px;
    font-weight: 300;
    background-color: #C6C5B9;
    padding: 20px 0px 0px 30px;
    text-align: center;
}

#video {
    margin-left: -50px;
    padding: 5px; 
    background-color: #546A7B;
}

#list {
    background-color: #546A7B;
    font-weight: 500;
    color: #fdfdff;
    padding: 2% 30%;
     
}