* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#title {
    font-size: 48px;
    font-weight: 700;
    color: #393D3F;
    text-align: center;
    background-color: #C6C5B9;
    margin: auto;
    padding: 5%;
}

#menu {
    font-size: 14px;
    font-weight: 700;
    color: #FDFDFF;
    background-color: #546A7B ;
    text-decoration: none;
    padding: 1%;
}


#menuid li {
    display: inline-block;
    width: 250px;
}

#foto {
    border-radius: 50%;
    display: block;
    margin-top: -20px;;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -20px;
    width: 30%;
}

#text {
    color: #FDFDFF;;
    font-size: 18px;
    font-weight: 300;
    background-color: #546A7B;
    padding: 50px 200px 0px;
    text-align: center;
    margin: auto;
}

#video {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 15px;

}

#list {
    background-color: #C6C5B9;
    font-weight: 700;
    color: #393D3F2;
    padding: 2% 30%;
}
